<form
  novalidate
  #form="ngForm"
  (ngSubmit)="submit(form)"
  [class.is-submitted]="form.submitted"
>
  <div class="box">
    <h1 class="title">Automated Testing POC</h1>

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input
          class="input"
          type="text"
          name="name"
          placeholder="Text input"
          [(ngModel)]="data.name"
          required
        >
      </div>
    </div>

    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <div class="select">
          <select
            name="subject"
            [(ngModel)]="data.subject"
            required
          >
            <option [value]="undefined">Select dropdown</option>
            <option value="1">With options 1</option>
            <option value="2">With options 2</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea
          [(ngModel)]="data.message"
          class="textarea"
          name="message"
          placeholder="Textarea"
          required
        ></textarea>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input
            type="checkbox"
            name="agree"
            [(ngModel)]="data.agree"
          >
          I agree
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="radio">
          <input
            type="radio"
            name="question"
            value="yes"
            [(ngModel)]="data.question"
            required
          >
          Yes
        </label>
        <label class="radio">
          <input
            type="radio"
            name="question"
            value="no"
            [(ngModel)]="data.question"
            required
          >
          No
        </label>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button
          class="button is-text"
          type="button"
          (click)="cancel()"
        >Cancel</button>
      </div>
    </div>
  </div>

</form>



<div
  class="box"
  *ngIf="isSubmitted"
>
  <div>
    <span>Name: </span>
    <span id="dataName">{{ data.name }}</span>
  </div>
  <div>
    <span>Subject: </span>
    <span id="dataSubject">{{ data.subject }}</span>
  </div>
  <div>
    <span>Message: </span>
    <span id="dataMessage">{{ data.message }}</span>
  </div>
  <div>
    <span>Agree?: </span>
    <span id="dataAgree">{{ data.agree }}</span>
  </div>
  <div>
    <span>Question: </span>
    <span id="dataQuestion">{{ data.question }}</span>
  </div>
</div>